# ==========================================
# Virtual environments
# ==========================================
.venv/
venv/
env/
ENV/

# ==========================================
# Python cache / compiled files
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Logs
# ==========================================
*.log
logs/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================
.vscode/